:root {
    --primary: #fff;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .btn--primary {
    background-color: #fff;
    color: #242424;
    border: 1px solid #fff;
  }
  
  .btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
    margin-top: -30px;
  }
  .btn--register {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
    margin-top: -30px;
  }
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 18px;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
  