html{
  scroll-behavior: smooth;
}
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  
  .hero-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  .hero-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
  }
  
  .hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .hero-btns {
    margin-top: 32px;
  }
  
  .hero-btns .btn {
    margin: 6px;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }
  
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .hero-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }


/* Đặt lịch khám */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --box-shadow:.5rem .5rem 0 rgba(22,160,133,.2);
    --text-shadow:.4rem .4rem 0 rgba(0,0,0,.2);
    --border:.2rem solid var(--gray);

}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border:var(--border);
    border-radius: .5rem;
    box-shadow:var(--box-shadow);
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background:var(--gray);
    color: var(--white);

}
.about .row .image{
  flex:1 1 45rem;
}

.about .row .image img{
  width: 100%;
}

.about .row .content{
  flex:1 1 45rem;
  padding: 10px 20px 10px;
}

.about .row .content h3{
  color: var(--black);
  text-shadow: var(--text-shadow);
  font-size: 4rem;
  line-height: 1.8;
}

.about .row .content p{
  color: var(--light-color);
  padding:1rem 0;
  font-size: 1.5rem;
  line-height: 1.8;
}
.book{
    background: #fff;
    padding-top: 30px;
}
.heading{
  text-align: center;
  padding-bottom: 10px;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color:var(--black);
  font-size: 5rem;
  letter-spacing: .4rem;
}
.heading span{
  text-transform: uppercase;
  color:var(--gray);
}
.book .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}
 
.book .row .image{
    flex:1 1 45rem;
}

.book .row .image img{
    width: 100%;
}

.book .row form{
    flex:1 1 45rem;
    background: #fff;
    border:var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
}

.book .row form h3{
    color:var(--black);
    padding-bottom: 1rem;
    font-size: 3rem;
}

.book .row form .box{
    width: 100%;
    margin:.7rem 0;
    border-radius: .5rem;
    border:var(--border);
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    padding: 1rem;
}

.book .row form .btn{
    padding:1rem 4rem;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  font-size: 35px;
}


/* Giới thiệu */
.about{
  background: #fff;
}
.heading{
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color:var(--black);
  font-size: 4rem;
  letter-spacing: .4rem;
  padding-top: 100px;
}

.heading span{
  text-transform: uppercase;
  color:var(--gray);
}
.about .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:2rem;
}

.about .row .image{
  flex:1 1 45rem;
}

.about .row .image img{
  width: 100%;
}

.about .row .content{
  flex:1 1 45rem;
}

.about .row .content h3{
  color: var(--black);
  text-shadow: var(--text-shadow);
  font-size: 3rem;
  line-height: 1.8;
}

.about .row .content p{
  color: var(--light-color);
  padding:1rem 0;
  font-size: 1.5rem;
  line-height: 1.8;
}
.icons-container{
  display: grid;
  gap:2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #fff;
}
.icons-container .icons{
  border:var(--border);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  text-align: center;
  padding: 2.5rem;
}

.icons-container .icons i{
  font-size: 4.5rem;
  color:var(--green);
  padding-bottom: .7rem;
}

.icons-container .icons h3{
  font-size: 4.5rem;
  color:var(--black);
  padding: .5rem 0;
  text-shadow: var(--text-shadow);
}

.icons-container .icons p{
  font-size: 1.7rem;
  color:var(--light-color);
}


/* GO TO TOP*/
.button-go-to-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1;
  border: none;
  outline: none;
  background-color: #2b6edd;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 25px;
}
.button-go-to-top:hover {
  text-decoration: none;
  background-color: #313131;
  color: white;
}






