.title{
    color:dodgerblue;
    text-align: center;
    font-weight: 600;
}
.title-1{
    text-align: center;
}
.mb-3{
    color: dodgerblue;
}
.dinh-dang{
   width: 100%;
   padding: 15px;
   margin: 5px 0 22px 0;
   display: inline-block;
   border: none;
   width:100%;
   resize: vertical;
   padding:15px;
   border-radius:15px;
   border:0;
   box-shadow:4px 4px 10px rgba(0,0,0,0.2);
}
hr{
    border:1px solid #f1f1f1;
    margin-bottom: 25px;
}

.signupbtn{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    float: left;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}
.container{
    padding: 16px;
}
.clearfix::after{
    content:"";
    clear: both;
    display: table;
}
